[BUG] S3 Backup fails with "failed to put object"

**Describe the bug**
Backing up a 50 GB Volume fails after a few minutes. (Actually every time, after a few percent, but on a different block each time)

**To Reproduce**
Steps to reproduce the behavior:
1. Schedule a Backup or click "Create Backup" in the GUI 
2. Backup Starts
3. After a few minutes, progress stops and the Error is shown on MouseOver

**Expected behavior**
Backup works 

**Log** (longhorn-manager)
`time="2020-11-10T09:20:55Z" level=debug msg="Backup backup-31c0bda2335c4035 created for volume pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a snapshot 04e13c5d-fa83-41c1-a3f8-2127f7502641"`

`time="2020-11-10T09:20:55Z" level=debug msg="Backup snapshot 04e13c5d-fa83-41c1-a3f8-2127f7502641 with label map[KubernetesStatus:{\"pvName\":\"pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a\",\"pvStatus\":\"Bound\",\"namespace\":\"kube-prometheus-stack\",\"pvcName\":\"prometheus-kube-prometheus-stack-prometheus-db-prometheus-kube-prometheus-stack-prometheus-0\",\"lastPVCRefAt\":\"\",\"workloadsStatus\":[{\"podName\":\"prometheus-kube-prometheus-stack-prometheus-0\",\"podStatus\":\"Running\",\"workloadName\":\"prometheus-kube-prometheus-stack-prometheus\",\"workloadType\":\"StatefulSet\"}],\"lastPodRefAt\":\"\"}] for volume pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a"`

`time="2020-11-10T09:25:53Z" level=error msg="Failed to updated volume LastBackup for pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a due to backup error failed to put object: backupstore/volumes/d5/23/pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a/blocks/cc/c7/ccc7cdd2862e274459533024d5f8339cac5ec3c9583cd2ac85272d66a1b924c7.blk response: {\n\n} error: AWS Error:  RequestError send request failed Put https://s3.eu-central-1.amazonaws.com/longhorn-backup.testconnex.com/backupstore/volumes/d5/23/pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a/blocks/cc/c7/ccc7cdd2862e274459533024d5f8339cac5ec3c9583cd2ac85272d66a1b924c7.blk: read tcp 10.42.1.154:42994->52.219.74.163:443: read: connection reset by peer\n"`

its a different Block every time:

`time="2020-11-10T09:02:54Z" level=error msg="Failed to updated volume LastBackup for pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a due to backup error failed to put object: backupstore/volumes/d5/23/pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a/blocks/ec/6c/ec6c08b505ed8ccc2f1afbb4bc32a291caa99af07723ab62e85a81e5157d5b02.blk response: {\n\n} error: AWS Error:  RequestError send request failed Put https://s3.eu-central-1.amazonaws.com/longhorn-backup.testconnex.com/backupstore/volumes/d5/23/pvc-8aaaaebf-ebd3-4443-8b41-9eb1b92ae54a/blocks/ec/6c/ec6c08b505ed8ccc2f1afbb4bc32a291caa99af07723ab62e85a81e5157d5b02.blk: read tcp 10.42.1.154:47580->52.219.75.99:443: read: connection reset by peer\n"`

**Environment:**
 - Longhorn version: v1.0.2
 - Kubernetes version: v1.19.3
 - Node OS type and version: CentOS Linux release 7.8.2003

**Additional context**

It seems your S3 endpoint is unstable.

```
AWS Error: RequestError send request failed
```

That means the send request to the S3 failed.

Its the standard EU Central (Frankfurt) Endpoint for S3, i don't think it becomes unstable. 

There is a Status at https://status.aws.amazon.com/ - no service disruption etc. 
Plus we are using S3 all the time, doing backups using restic for example - no problems there.
Checked again today, the problem persists.

I think that it's a problem in the client (see https://github.com/aws/aws-sdk-go/issues/1242 and the comment from AWS at https://forums.aws.amazon.com/thread.jspa?threadID=111195).

Imho a single failed upload of a block should not stop the backup, it should be retried, either manually or using retryer or via the s3manager api. (If i could write that code i would do it but i'm not fluent in go..)





@wwu-cx Make sense. There seems still a connectivity issue but we do need to retry.

@wwu-cx I couldn't reproduce the problem. Please let me know if your setup has something different. Here is what I have tried:

**Scenario 1: **
1. Install Longhorn v1.0.2. 
1. Create a volume of size of 50GB. 
1. Setup a backup target pointing to an S3 bucket in EU Central (Frankfurt) - `eu-central-1` region. 
1. Write 16GB of data to the volume. 
1. Take a backup using Longhorn UI. 
1. I observe that the backup successfully finishes in ~ 2 hours (it is a bit long because my cluster is in California and the S3 bucket is in EU Central)

**Scenario 2: **
1. Install Longhorn `master`. 
1. Create a volume of size of 50GB. 
1. Setup a backup target pointing to an S3 bucket in EU Central (Frankfurt) - `eu-central-1` region. 
1. Write 26GB of data to the volume. 
1. Take a backup using Longhorn UI. 
1. I observe that the backup successfully finishes in ~ 3 hours and 9 mins (it is a bit long because my cluster is in California and the S3 bucket is in EU Central)

Even though I couldn't reproduce the problem, I agree with you that `a single failed upload of a block should not stop the backup`. We will add a `MaxRetries=3` to S3 service to allow 3 retries up on failure.

@yasker 
Regarding to `aws-go-sdk`, we currently are using `v1.25.16` which was released on 10/2019. I think that it should be ok.



@PhanLe1010 I think @wwu-cx 's issue is likely caused by the local ISP rather than AWS. So it's possible some packet dropped on it's way to the AWS.

Thanks @yasker for the info!

## Pre-merged Checklist
* [ ] Does the PR include the explanation for the fix or the feature?

* [ ] Is the backend code merged (Manager, Engine, Instance Manager, BackupStore etc)?
The PR is at

* [ ] Is the reproduce steps/test steps documented?

* [ ] Which areas/issues this PR might have potential impacts on?
Area
Issues

* [ ] **If the fix introduces the code for backward compatibility** Has an separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at

* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
The UI issue/PR is at

* [ ] **if labeled: require/doc** Has the necessary document PR submitted or merged?
The Doc issue/PR is at

* [ ] **If labeled: require/automation-e2e** Has the end-to-end test plan been merged? Have QAs agreed on the automation test case?
The automation skeleton PR is at
The automation test case PR is at

* [ ] **if labeled: require/automation-engine** Has the engine integration test been merged?
The engine automation PR is at

* [ ] **if labeled: require/manual-test-plan** Has the manual test plan been documented?
The updated manual test plan is at

**Test steps:**

Make sure that this PR does break the backup and restore feature 

**Test steps:**
Goal: we want to verify that Longhorn does actually attempt to retry the failed request to S3 and the maximum number of retries is 3


Install [Squid](https://github.com/wernight/docker-squid)

1. Copy the following file to `~/squid.conf` in your VM
```
#
# Recommended minimum configuration:
#

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
acl localnet src 10.0.0.0/8	# RFC1918 possible internal network
acl localnet src 172.16.0.0/12	# RFC1918 possible internal network
acl localnet src 192.168.0.0/16	# RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

#acl longhorn src <LONGHORN-WORKER-NODE-1-IP>
#acl longhorn src <LONGHORN-WORKER-NODE-2-IP>
#acl longhorn src <LONGHORN-WORKER-NODE-3-IP>

acl SSL_ports port 443
acl SSL_ports port 6443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl Safe_ports port 6443        # k8s
acl CONNECT method CONNECT

#
# Recommended minimum Access Permission configuration:
#
# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
http_access allow localhost manager
http_access deny manager

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
#http_access deny to_localhost

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

# Example rule allowing access from your local networks.
# Adapt localnet in the ACL section to list your (internal) IP networks
# from where browsing should be allowed
http_access allow localnet
http_access allow localhost

# Control requests from longhorn to S3
# http_access deny longhorn

# And finally deny all other access to this proxy
http_access allow all

# Squid normally listens to port 3128
http_port 3128

# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/cache/squid 100 16 256

# Leave coredumps in the first cache dir
coredump_dir /var/cache/squid

#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320
```

2. Install Squid using the above config file:
   ```
   docker run -d -v /home/$USER/squid.conf:/etc/squid/squid.conf -p 3128:3128 wernight/squid
   ```
3. Docker exec into the squid container
4. See the traffic that goes through the proxy by running 
   ```
   tail -f /var/log/squid/access.log
   ```


Punt the validation to v1.1.1. As long as there is no side effect for the v1.1.0 release (which we can observe from the nightly test), I am fine with including the fix now.

Validated with Longhorn master - `01/15/2021`

Validation - **Pass**

Followed the test steps from https://github.com/longhorn/longhorn/issues/1967#issuecomment-736955281, on blocking the S3 traffic on proxy, Longhorn retries 4 times.